
## ORM: One-to-Many Relationships with SQLAlchemy

https://docs.sqlalchemy.org/en/20/orm/quickstart.html

Watch Video Tutorial

https://github.com/jod35/OnetoMany-SQLALCHEMY2.0/blob/main/README.md

In [1]:
from sqlalchemy.orm import DeclarativeBase, Mapped, mapped_column, relationship
from sqlalchemy import ForeignKey

"""
table programs
    - id int pk
    - name str
    - years_of_study

table courses
    - id int pk
    - title
    - code
    - program_id => fk => programs.id
"""

'\ntable programs\n    - id int pk\n    - name str\n    - years_of_study\n\ntable courses\n    - id int pk\n    - title\n    - code\n    - program_id => fk => programs.id\n'

Create Model

In [2]:
class Base(DeclarativeBase):
    pass


class Program(Base):
    __tablename__ = 'programs'
    id:Mapped[int] = mapped_column(primary_key=True)
    name:Mapped[str] = mapped_column(nullable=False)
    years_of_study:Mapped[int] = mapped_column(nullable=False)
    courses:Mapped[list['Course']] = relationship(backref='program',passive_deletes=True)

    def __repr__(self) -> str:
        return f"<Program {self.name}>"

In [3]:
class Course(Base):
    __tablename__ = 'courses'
    id:Mapped[int] = mapped_column(primary_key=True)
    title:Mapped[str] = mapped_column(nullable=False)
    code:Mapped[str] = mapped_column(nullable=False)
    program_id:Mapped[int] = mapped_column(ForeignKey('programs.id',ondelete='CASCADE'))

    def __repr__(self) -> str:
        return f"<Course {self.title}>"

Connect and Create Engine and Session

In [4]:
from sqlalchemy import create_engine, text
from sqlalchemy.orm import sessionmaker
from sqlalchemy.engine.base import Engine
from sqlalchemy.orm.session import Session


engine: Engine = create_engine(
    f'postgresql://k191612:3AueMsX1OSYt@ep-curly-mouse-38234397.us-east-2.aws.neon.tech/test1?sslmode=require',
    echo= True
)


Session = sessionmaker(bind=engine)

db: Session = Session()

Create Database

In [7]:
Base.metadata.create_all(bind=engine)

2025-04-18 19:01:43,871 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-04-18 19:01:43,874 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-04-18 19:01:43,874 INFO sqlalchemy.engine.Engine [cached since 358.3s ago] {'table_name': 'programs', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2025-04-18 19:01:44,319 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-04-18 19:01:44,319 INFO sqlalchemy.engine.Engine [cached since 358.8s ago] {'table_name': 'courses', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2025-04-18 19:01:44,550 INFO sqlalchemy.engine.Engine COMMIT

Populate Database

In [8]:
program1 = Program(
    name = "Bachelors in CS",
    years_of_study =3
)

program2 = Program(
    name = "Bachelors in Business",
    years_of_study =3
)

# saving programs
db.add_all(
    [program1,program2]
)

db.commit()

2025-04-18 19:05:18,425 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-04-18 19:05:18,427 INFO sqlalchemy.engine.Engine INSERT INTO programs (name, years_of_study) SELECT p0::VARCHAR, p1::INTEGER FROM (VALUES (%(name__0)s, %(years_of_study__0)s, 0), (%(name__1)s, %(years_of_study__1)s, 1)) AS imp_sen(p0, p1, sen_counter) ORDER BY sen_counter RETURNING programs.id, programs.id AS id__1
2025-04-18 19:05:18,431 INFO sqlalchemy.engine.Engine [generated in 0.00026s (insertmanyvalues) 1/1 (ordered)] {'name__0': 'Bachelors in CS', 'years_of_study__0': 3, 'name__1': 'Bachelors in Business', 'years_of_study__1': 3}
2025-04-18 19:05:18,906 INFO sqlalchemy.engine.Engine COMMIT

In [11]:
#create course objects
course1 = Course(
    title ="Database Management Systems",
    code = "CS 102"
)


course2 = Course(
    title ="Data SCIENCE",
    code = "CS 103"
)


course3 = Course(
    title ="Data STRUCTURES AND ALGRITHMS",
    code = "CS 110"
)
course4 = Course(
    title ="Businnes communication",
    code = "BS 123"
)


# adding child object to parent
program1.courses.append(course1)
program1.courses.append(course2)
program1.courses.append(course3)

program2.courses.append(course4)

db.commit()

2025-04-18 19:10:21,211 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-04-18 19:10:21,212 INFO sqlalchemy.engine.Engine SELECT programs.id AS programs_id, programs.name AS programs_name, programs.years_of_study AS programs_years_of_study
FROM programs
WHERE programs.id = %(pk_1)s
2025-04-18 19:10:21,214 INFO sqlalchemy.engine.Engine [cached since 216.1s ago] {'pk_1': 33}
2025-04-18 19:10:21,719 INFO sqlalchemy.engine.Engine SELECT courses.id AS courses_id, courses.title AS courses_title, courses.code AS courses_code, courses.program_id AS courses_program_id
FROM courses
WHERE %(param_1)s = courses.program_id
2025-04-18 19:10:21,721 INFO sqlalchemy.engine.Engine [cached since 216.1s ago] {'param_1': 33}
2025-04-18 19:10:21,978 INFO sqlalchemy.engine.Engine INSERT INTO courses (title, code, program_id) SELECT p0::VARCHAR, p1::VARCHAR, p2::INTEGER FROM (VALUES (%(title__0)s, %(code__0)s, %(program_id__0)s, 0), (%(title__1)s, %(code__1)s, %(program_id__1)s, 1), (%(title__2)s, %(code__2)s, %(program_id__2)s, 2)) AS imp_sen(p0, p1, p2, sen_counter) ORDER BY sen_counter RETURNING courses.id, courses.id AS id__1
2025-04-18 19:10:21,980 INFO sqlalchemy.engine.Engine [cached since 216.1s ago (insertmanyvalues) 1/1 (ordered)] {'title__0': 'Database Management Systems', 'program_id__0': 33, 'code__0': 'CS 102', 'title__1': 'Data SCIENCE', 'program_id__1': 33, 'code__1': 'CS 103', 'title__2': 'Data STRUCTURES AND ALGRITHMS', 'program_id__2': 33, 'code__2': 'CS 110'}
2025-04-18 19:10:22,276 INFO sqlalchemy.engine.Engine SELECT programs.id AS programs_id, programs.name AS programs_name, programs.years_of_study AS programs_years_of_study
FROM programs
WHERE programs.id = %(pk_1)s
2025-04-18 19:10:22,278 INFO sqlalchemy.engine.Engine [cached since 217.2s ago] {'pk_1': 34}
2025-04-18 19:10:22,645 INFO sqlalchemy.engine.Engine SELECT courses.id AS courses_id, courses.title AS courses_title, courses.code AS courses_code, courses.program_id AS courses_program_id
FROM courses
WHERE %(param_1)s = courses.program_id
2025-04-18 19:10:22,646 INFO sqlalchemy.engine.Engine [cached since 217.1s ago] {'param_1': 34}
2025-04-18 19:10:22,957 INFO sqlalchemy.engine.Engine INSERT INTO courses (title, code, program_id) VALUES (%(title)s, %(code)s, %(program_id)s) RETURNING courses.id
2025-04-18 19:10:22,958 INFO sqlalchemy.engine.Engine [cached since 216.4s ago] {'title': 'Businnes communication', 'code': 'BS 123', 'program_id': 34}
2025-04-18 19:10:23,186 INFO sqlalchemy.engine.Engine COMMIT

Query Database

In [12]:
myprogram1: Program = db.query(Program).filter_by(name = "Bachelors in CS").first()
print(myprogram1.name)

mycourse3: Course = db.query(Course).filter_by(title='Data STRUCTURES AND ALGRITHMS').first()
print(mycourse3.title)

2025-04-18 19:12:49,568 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-04-18 19:12:49,570 INFO sqlalchemy.engine.Engine SELECT programs.id AS programs_id, programs.name AS programs_name, programs.years_of_study AS programs_years_of_study
FROM programs
WHERE programs.name = %(name_1)s
 LIMIT %(param_1)s
2025-04-18 19:12:49,571 INFO sqlalchemy.engine.Engine [generated in 0.00114s] {'name_1': 'Bachelors in CS', 'param_1': 1}
Bachelors in CS
2025-04-18 19:12:50,041 INFO sqlalchemy.engine.Engine SELECT courses.id AS courses_id, courses.title AS courses_title, courses.code AS courses_code, courses.program_id AS courses_program_id
FROM courses
WHERE courses.title = %(title_1)s
 LIMIT %(param_1)s
2025-04-18 19:12:50,043 INFO sqlalchemy.engine.Engine [generated in 0.00186s] {'title_1': 'Data STRUCTURES AND ALGRITHMS', 'param_1': 1}
Data STRUCTURES AND ALGRITHMS

Delete Rows

2025-04-18 19:14:04,848 INFO sqlalchemy.engine.Engine DELETE FROM programs WHERE programs.id = %(id)s
2025-04-18 19:14:04,849 INFO sqlalchemy.engine.Engine [generated in 0.00092s] {'id': 23}
2025-04-18 19:14:05,078 INFO sqlalchemy.engine.Engine COMMIT